//color
  $color-black: #222;
  $color-white: #F2F0EF;
  $color-real-white: #fff;
  $color-main: #7F31BC;
  $color-sub: #B67FDB;
  $color-btn: #98FB28;
  $color-bbb: #BBB;
  $color-555: #555;
  $color-red: #FF5E5E;
  $color-yellow: #FFD943;
  $color-green: #9CFC2E;





//radius
  $radius-btn: 8rem;
