@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/mixins" as *;
@use "../../../assets/scss/variables" as *;


.non-wrap {
    @include respond;
    height: 100vh;

    .non-conten {
        width: 100%;
        height: 100%;
        text-align: center;
        @include flex-layout(column);
        color: $color-main;

        .non-icon {
            font-size: 3rem;
        }

        .non-txt {
            @include caption-r();
        }
    }
}